<!DOCTYPE html>
<html lang="en">
<head>
  <title>EvenDex</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Include external CSS. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
  
  <!-- Include Editor style. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Include external JS libs. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
  
  <!-- Include Editor JS files. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>
  
  <!-- Flask Static -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
    <div class="wrapper">      
        <nav id="sidebar">
            <div class="sidebar-content">
                <div id="myDIV" class="header">
                    <h4 style="magin:5px"><span class="glyphicon glyphicon-th-list"></span> EvenDex</h4><br>
                    <form action="/events" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="New Event.." name="make_event">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" name="submit1" value="new_event">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            </span> 
                        </div>
                    </form>
                </div>
                <hr>
                {% if events.get("count") > 0 %}
                    <form action="/events" method="post">
                        <ul id="myUL">
                            {% for event in events.get("events")|reverse %}
                                <div class="input-group">
                                    <button class="btn btn-info form-control" type="submit" name="submit2" value='{{ event.get("event_id") }}'>{{ event.get("name") }}</button>
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" name="submit7" value='{{ event.get("event_id") }}' onclick="return submitResult();">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    </span> 
                                </div>
                            {% endfor %}
                        </ul>
                    </form>
                {% endif %}
                <hr style="border-color:white;">
                <center><h4><a href="http://localhost:5601" target="_blank">Kibana</a></h4></center>
            </div>
        </nav>

        <div id="content">
            {% if event %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-1">
                                <button type="button" id="sidebarCollapse" class="navbar-btn" style="border-radius: 50%;">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                            <div class="col">
                                <h3>{{ event.get("event").get("name") }}&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-time"></span> {{ event.get("event").get("created") }}</h3>   
                                <hr>
                            </div>
                        </div>
                    </div>
                </nav>
                <form action="/events" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New Topic.." name='make_content'>
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="submit3" value='{{ event.get("event").get("event_id") }}'>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        </span> 
                    </div>
                </form>
                <br>
                <hr>
                <br>
                {% if event.get("event").get("content") %}
                    {% for content in event.get("event").get("content")|reverse %}
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>{{ content.get("title")}}</h4>
                            </div>
                            <div class="col-sm-4">
                                <div class="content_comment">
                                    <h4><button data-toggle="collapse" title="Add Comment.." data-target='#content_{{ content.get("content_id") }}' class="pull-right"><span class="glyphicon glyphicon-comment"></span></button></h4>
                                </div>
                                <div class="content_delete">
                                    <form action="/events" method="post">
                                        <h4><button type="submit" name="submit8" value='{"content":{"event_id":{{ event.get("event").get("event_id") }}, "content_id": {{ content.get("content_id") }} }}' title="Remove Content.."  class="pull-right"><span class="glyphicon glyphicon-remove"></span></button></h4>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5><span class="glyphicon glyphicon-time"></span> {{ content.get("created") }}</h5>
                        {% if content.get("comments") %}
                            <h5>Status: <span class="label label-success">{{ content.get("status") }}</span>&nbsp&nbsp&nbsp Comments: <span class="label label-default">{{ content.get("comments")|length }}</span></h5><br>
                            {% for comment in content.get("comments")|reverse %}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <form action="/events" method="post">
                                                    <h4><button type="submit" name="submit9" value='{"comment":{"event_id":{{ event.get("event").get("event_id") }}, "content_id": {{ content.get("content_id") }},  "comment_id": {{ comment.get("comment_id") }} }}' title="Remove Comment.."><span class="glyphicon glyphicon-remove"></span></button></h4>
                                                </form>
                                                <h4><button class="default-btn" data-toggle="collapse" title="Add Tag.." data-target='#label_{{ comment.get("comment_id") }}'"><span class="glyphicon glyphicon-tag"></span></button></h4>
                                            </div>
                                            <div class="col-sm-10">
                                                <h4 class="pull-right"><small><span class="glyphicon glyphicon-time"></span> {{ comment.get("created") }}</small></h4>
                                                {% if comment.get("labels") %}
                                                    <div class="row">
                                                        {% for label in comment.get("labels")|reverse %}
                                                            <form action="/events" method="post">
                                                                <span class="label label-primary">{{ label.get("label") }}&nbsp
                                                                    <button style="background-color:transparent; border:0px;" type="submit" name="submit6" value='{"label":{"event_id":{{ event.get("event").get("event_id") }}, "content_id": {{ content.get("content_id") }}, "comment_id": {{ comment.get("comment_id") }}, "label_id": {{ label.get("label_id") }} }}'>
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                    </button>
                                                                </span>
                                                            </form>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <div class="collapse" id='label_{{ comment.get("comment_id") }}'>
                                                    <br>
                                                    <form action="/events" method="post">
                                                        <div class="form-group form-inline">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">Create Tag</span>
                                                                <input type="text" class="form-control" name='make_label' placeholder="Example">
                                                            </div>
                                                            <button type="submit" class="btn btn-success" name="submit4" value='{"label":{"event_id":{{ event.get("event").get("event_id") }}, "content_id": {{ content.get("content_id") }},  "comment_id": {{ comment.get("comment_id") }} }}'>Submit</button>
                                                        </div>    
                                                    </form>
                                                </div>
                                                <hr style="border-color:white;">
                                                <div class="row">
                                                    <div class="col-sm-1"></div>
                                                    <div class="col-sm-10">
                                                        {{comment.get("body")|safe}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h5>Status: <span class="label label-success">{{ content.get("status") }}</span>&nbsp&nbsp&nbsp Comments: <span class="label label-default">0</span></h5><br>
                        {% endif %}
                        
                        <form action="/events" method="post">
                            <div class="collapse" id='content_{{ content.get("content_id") }}'>
                                <h4>Add Comment:</h4>
                                    <div class="form-group">
                                    <textarea class="form-control" rows="3" required name='make_comment'></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success" name="submit5" value='{"comment":{"event_id":{{ event.get("event").get("event_id") }}, "content_id": {{ content.get("content_id") }} }}'>Submit</button>
                                <br><br>
                            </div>
                        </form>
                        <br>
                    {% endfor %}
                {% endif %}
            {% else %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <br>
                    </div>
                </nav>
            {% endif %}
        </div>
    </div>
</body>
</html>